@import "components/card-collection-pattern";


.infos {
  width: 100%;
  margin-top: 10%;
  display: flex;
  align-content: space-between;
  justify-content: end;
  flex-wrap: wrap;
}

.my-patterns {
  width: 70%;
  border-left: 3px solid black;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 30px;
  justify-content: center;
  flex-direction: column;
  .create {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-top: 6px solid #000000;
    border-bottom: 6px solid #000000;
    margin-top: 5%;
    padding: 4%;
  }
  h1 {
    margin-top: 5%;
  }
  h2{
    margin-top: 5%;
  }
}

.user-espace {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 30px;
  justify-content: center;
  flex-direction: column;
}
