// Specific CSS for your home-page
@import "components/card-shape";
@import "components/button-white";
@import "components/sort-by";

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



.main-title {
  overflow: hidden;
  display: flex;
  width: 100%;
  position: absolute;
  top: 210px;
  transform: translateY(-50%);
  background-color: black;
  padding: 13px 0;
  h1 {
    color: white;
    &:hover {
      animation-play-state: running;
    }
  }
    .txt {
      white-space: nowrap;
      animation: scrollTxt 25s linear infinite;
    }

    @keyframes scrollTxt {
      0%{
        transform: translate(-100%, 0);
      }
      100% {
        transform: translate(0%, 0);
      }
    }
  }



.description {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  width: 100%;
  position: absolute;
  top: 516px;
  transform: translateY(-50%);
  border-bottom: 3px solid #000000;
  background-color: black;
  padding-bottom: 7px;
  padding-top: 10px;
  h2 {
    color: white;
  }
  .txt {
    white-space: nowrap;
    animation: scrollTxt 25s linear infinite;
  }

  @keyframes scrollTxt {
    0% {
      transform: translate(0,0);
    }
    100% {
      transform: translate(-100%,0);
    }
  }
}

#home-3{
  top: 550px;
  display: flex;
  flex-direction: row;
  width: 100%;
  position: absolute;
  justify-content: center;
  h2 {
    font-weight: bold;
    margin: 0 20px;
    padding: 6px 15px;
  }
}

  .create-inspirate {
      display: flex;
      justify-content: center;
      text-align: center;
      align-items: center;
      border-top: 6px solid #000000;
      border-bottom: 6px solid #000000;
      margin-top: 383px;
      .bar {
        height: 79px;
        border: 1px solid black;
        background-color: black;
      }

    a {
      margin: 0 60px;
    }
  }
