// Import page-specific CSS files here.
@import "home";
@import "svg_test";
@import "components/sort-by";
@import "components/card-collection-pattern";


#index-3{
  top: 265px;
  border-bottom: 5px solid black;
  display: flex;
  flex-direction: row;
  width: 100%;
  position: absolute;
  justify-content: center;
  h2 {
    font-weight: bold;
    margin: 0 20px;
    padding: 6px 15px;
  }
  .search-filter {
    margin-top: -84px;

  }
}


.collection {
  width: 100%;
  margin-top: 205px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  margin-left: 8px;
  margin-left: 8px;
}
