@import "components/button-sidebar";

// .wrapper-all {
//   display:flex ;
  .canvas-container:has(canvas){
    position: fixed!important;
    left: 48%!important;
    top: 20%!important;

  }
  .canvas-container{
  position: fixed;
  left: 48%;
  top: 20%;

}
.generator {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}



// button {
  //   width: 150px;
  //   text-align: center;
  //   margin: 10px;

  // }
  #canvas {
    // position: fixed;
    // top: 20%;
    // left: 45%;
    background-color: white;
    user-select: none;

    .canvas-container {
    background-color: white;
  }
  }


  .espace-créa {
  width: 70%;
  border-left: 3px solid black;
  padding: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

// }
