.size {
  display: block;
  margin: 0 auto;
  width: 450px;
  height: auto;
}

.contour {

}

.calque_1 {

}

.calque_2 {

}

.calque_3 {

}

.calque_4 {

}

.calque_5 {

}

.calque_6 {

}

.calque_7 {

}

.calque_8 {

}
