
 <!-- Modal -->

<div class="modal fade" id="exampleModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Votre nouveau motif : </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="<%=patterns_path%>" method="post">
          <div class="mb-3">
            <label for="name" class="col-form-label">Nom de votre motif</label>
            <input type="text" class="form-control" name="name" id="name" required>
               <input class="button-black" type="submit" value="Commencer" >
          </div>
        </form>
      </div>
      <div class="modal-footer">

        <a  class="button-white" data-bs-dismiss="modal">Fermer</a>
      </div>
    </div>
  </div>
</div>



<!-- Modal -->

