
 <div id="main-2">
  <ul class="list-unstyled ps-0">
    <li class="mb-1">
      <button class="btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#forms-collapse" aria-expanded="true">
        <h4>Mes formes</h4>
      </button>
      <div class="collapse show" id="forms-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <div id="shape-block">
            <li class='mb-1'>
              <button class="title-shape d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#shape-collapse" aria-expanded="true">
                <h3 class='title-shape'>
                </h3>
              </button>
              <div class="collapse show" id="shape-collapse">
                <p class='title-layer'></p>
              </div>
            </li>
          </div>
        </ul>
      </div>
    </li>
  </ul>
</div>
