
 <div id="main-2">
  <ul class="list-unstyled ps-0">
    <li class="mb-1">
      <button class="btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
        <h4>Mes formes</h4>
      </button>
      <div class="collapse show" id="home-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <div id="shape-block">
          </div>
        </ul>
      </div>
    </li>
  </ul>
</div>
