
<div class="footer">
  <div class="footer-links">
    <a href="https://www.instagram.com/de.vous_a.moi/"><i class="fab fa-instagram"></i></a>
  </div>
  <div class="copyright">
    <p>Laissez vous la liberté de créer ! © 2021 par l'équipe De Vous à Moi.</p>
  </div>

</div>
