  <div class="wrapper">
  <div class="main-title">
    <span class="txt t1"> <h1>SAME SAME, BUT DIFFERENT !&nbsp;</h1></span>
    <span class="txt t2"> <h1>SAME SAME, BUT DIFFERENT !&nbsp;</h1></span>
    <span class="txt t2"> <h1>SAME SAME, BUT DIFFERENT !&nbsp;</h1></span>
  </div>

<div class="pattern-product">
</div>
<div class='card-product'>
  <div class="parent-product" >

    <div data-bs-toggle="modal" data-bs-target="#exampleModal<%= @pattern.id %>" class="child bg-one" style="background-image: url('<%=@pattern.image_url%>')">

    </div>

</div>

            <%# <div data-bs-toggle="modal" data-bs-target="#exampleModal<%= @pattern.id " class="child bg-one" style="background-image: url('<%=pattern.image_url')"> %>

  </div>
