
<%# <div class="wrapper-all"> %>

<div id="canva-bg" data-controller="pattern" style="background-image:url('something.png'); display: flex;" data-pattern-update-value="<%=pattern_path(@pattern)%>" data-pattern-json-value="<%=@pattern.json%>">

    <canvas id="canvas" width="500" height="500" position="absolute" ></canvas>

  <%= render "shared/collapsible_sidebar", class:"espace-créa" %>
  <%= render "shared/collapsible_myforms",class:"forms"  %>
</div>


<%# <div id="shape-block"> %>
  <%# <h3> Mes formes </h3> %>
<%# </div> %>




<style>
canvas {
border: 1px solid black;
}
/* #shape-block{
border: 1px solid black;
width: 200px;
height: content;
} */
</style>
