.alert {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 1000;
  background-color: #ffffff;
  color: black;
  border: 1px solid black;
  border-radius: 3px;
  opacity: 0.9;
}
.alert-dismissible .btn-close {
  position: absolute;
  top: 3px;
  right: 3px;
  z-index: 2;
  width: 14px;
  padding: 0;

  &:hover {
    background-color: darkgray;
    padding: 0;

  }
}
