.button-black{
  padding: 10px 33px;
  gap: 10px;
  background: #000000;
  border-radius: 3px;
  // box-sizing: border-box;
  // width: 100px;
  justify-content: space-evenly;
  margin: 5px;
/* font */
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
/* C_5 */
  color: #FFFFFF;
/* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;

  &:hover {
    background: #888888;;
    // font-weight:  bold;
    color: white;
  }
}
