@import "config/fonts";

#level-2 {
  overflow: hidden;
  height: 381px;
	// background: white;

  .card-shapes {

    height: 180px;
    width: 3550px;
    margin-top: 197px;
    white-space: nowrap;


    .bar {
      height: 180px;
    }

    img {
      margin-right: 0px;
      width: 115.75px;
      height: auto;
      display: inline-block;
      margin-top: 10px;
      margin-bottom: 10px;

    }

    .first {
      animation-timing-function: cubic-bezier(0.55,-0.01, 0.43, 0.96);
      animation: bannermove 15s infinite;
      // &:hover {
      //   animation-play-state: paused;

    // }
    }
  }

  @keyframes bannermove {
    0% {
       margin-left: 0px;
    }
    100% {
       margin-left: -2113px;
    }

   }
}
