.navbar-lewagon {
  justify-content: space-between;
  background: white;
  height: 80px;
  border-bottom: 1px solid #888888;
  position: sticky;
  top: 0px;
  z-index: 10;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  display: flex;
  align-items: center;
  .nav-item {

    align-items: center;
    justify-content: center;
    display: flex;
      a{
        margin-top: 5px;
      }
  }
}

.navbar-nav .nav-item img {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 25px;
  width: 31px;
  margin: 0 24px;
}

.navbar-lewagon .navbar-brand img {
  height: 45px;
}

.navbar-brand {
  margin-left: 22px;
}
