.navbar-lewagon {
  justify-content: space-between;
  background: white;
  height: 80px;
  border-bottom: 1px solid #888888;
  position: sticky;
  top: 0px;
  z-index: 10;
  width: 100vw;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  display: flex;
  align-items: center;
  .nav-item {

    align-items: center;
    justify-content: center;
    display: flex;
      a{
        margin-top: 5px;
      }
  }
}

.navbar-nav .nav-item img {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 25px;
  width: 31px;
  margin: 0 24px;
}

.navbar-lewagon .navbar-brand img {
  height: 45px;
}

.navbar-brand {
  margin-left: 22px;
}


.mb3 {
  display: flex;
  flex-direction: column;
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  padding: 10p;
  align-items: center;
  justify-content: flex-end;
  a{
    width: 162px;
    margin-top: 18px;

  }
}

.notify-number {
  position: absolute;
  background-color: black;
  font-size: 13px;
  padding: 0px 5px;
  border-radius: 50%;
  font-family: sans-serif;
  top: 16px;
  right: 184px;
  border: 1px solid black;
  color: white;
  transition: all .2s ease-in-out;
}

.notify-scale { transform: scale(1.6); }
