// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "components/card-shape";
@import "components/card-pattern";
@import "components/card-collection-pattern";
@import "components/button-black";
@import "components/sort-by";
@import "components/navbar";
@import "components/button-white";
@import "components/button-sidebar";
@import "components/footer";
@import "components/collapsible-sidebar";
@import "pages/index";
@import "pages/home";
@import "pages/dashboard";
@import "pages/show";


html, body {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  // height: 100vh;
  background-image: repeating-linear-gradient(135deg, rgba(93,93,93, 0.1) 0px, rgba(93,93,93, 0.1) 2px,transparent 2px, transparent 4px),linear-gradient(90deg, rgb(255,255,255),rgb(255,255,255));
}

.layout {
  min-height: calc(100vh - 130px);
}
